@import "_variables";

html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: linear-gradient(180deg, $soft-violet 0%, $soft-blue 100%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-bottom {
    position: absolute;
    top: 104px;
}

#image-section-desktop {
    display: none;
}

#image-section-mobile {
    width: 23.7rem;
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -11rem;
}

.box-img {
    display: none;
}

@media screen and (min-width: $desktop) {
    .align-bottom {
        right: 0;
        top: -36.5rem;
        max-width: unset;
        width: 96.4rem;
        height: auto;
    }

    #image-section-mobile {
        display: none;
    }
    
    #image-section-desktop {
        width: 47.2rem;
        height: 35.9rem;
        display: flex;
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        right: 53rem;
        top: 0;
        bottom: 0;
    }

    .box-img {    
        display: block;
        position: absolute;
        margin-top: 6.6rem;
        margin-left: -46.2rem;
        z-index: 3;
    }
}

.answer {
    display: none;
    margin-top: 1.3rem;
}

.container {
    position: relative!important;
    display: flex;
    flex-direction: column;
    width: 32.7rem;
    min-height: 53.5rem;
    margin: 14.8rem 2.4rem 8.5rem;
    padding: 13.2rem 2.4rem 4.8rem;
    background-color: white;
    box-shadow: 0px 5rem 5rem -2rem rgba(53, 18, 122, 0.497159);
    border-radius: 2.3rem;
    &__questions {
        font-size: 1.3rem;
        line-height: 1.6rem;
        h1 {
            color: $very-dark-desaturated-blue;
            font-size: 3.2rem;
            line-height: 4rem;
            text-align: center;
            margin-bottom: 3rem;
        }
    }
    &__question {
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
        border-bottom: .1rem solid $light-grayish-blue;
        &--div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    @media screen and (min-width: $desktop) {
        flex-direction: row;
        padding: 0;
        width: 92rem;
        min-height: 50.9rem;
        overflow: hidden;
        &__empty-div {
            width: 50%;
        }
        &__questions {
            width: 50%;
            max-width: 35rem;
            padding: 6.5rem 0 4.3rem;
            h1 {
                text-align: unset;
                margin-bottom: 2.5rem;
            }
        }
    }
}